{{template "header"}}
<title>分类 - imiBLOG</title>
</head>
<body class="">
{{template "navbar" .}}
<div class="container">
    <h2>分类列表</h2>
    <form class="form-inline float-right" method="get" action="/category">
        <div class="form-group mb-2">
            <label for="inputEmail3" class="exampleInputName2">分类名称：</label>
            <div class="input-group ">
                <input name="name" type="text" class="form-control col-row-5" placeholder="请输入分类">
                <input name="op" type="hidden" value="add">
            </div>
        </div>
        <div class="btn-group mb-2">
            <button type="submit" class="btn btn-primary">确定</button>
            <button type="submit" class="btn btn-primary" onclick="window.location.href='/';return false;">返回</button>
        </div>
    </form>
    <br>
    <table class="table table-striped mt-2 mb-2">
        <thead>
        <th>#</th>
        <th>名称</th>
        <th>文章数</th>
        <th>操作</th>
        </thead>
        <tbody>
        {{range .Categories}}
            <tr>
                <th>{{.Id}}</th>
                <th>{{.Title}}</th>
                <th>{{.TopicCount}}</th>
                <th>
                    <a href="/category?op=del&id={{.Id}}">删除</a>
                </th>
            </tr>
        {{end}}
        </tbody>
    </table>
</div>
{{template "footer"}}
</body>
</html>

