{{template "header"}}
<title>首页 - imiBLOG</title>
</head>
<body class="">
{{template "navbar" .}}
<div class="container-fluid">
       <div class="col-sm-11 col-md-10">
        <div class="alert alert-info">
            {{range .Topics}}
                <div class="well">
                    <a href="/topic/view/{{.Id}}" style="a:focus:'text-decoration:none;'">
                        <h1>{{.Title}} </h1>
                        <h6 class="text-muted"> 文章发表于 {{.Updated}}，共有{{.Views}}次浏览，{{.ReplyCount}}个评论</h6>
                        <p class="panel-body">
                            {{.Content}}
                        </p>
                    </a>
                </div>
            {{end}}
        </div>
    </div>
    <div class="col-sm-1 col-md-2">
        <h3>文章分类</h3>
        <ul>
            {{range .Categories}}
            <li><a href="/?cate={{.Title}}">{{.Title}}</a></li>
            {{end}}
        </ul>
    </div>
</div>
{{template "footer"}}
</body>
</html>

