.blog-footer {
    padding: 1.0rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}

a {
    color: #c0a16b;
}

li > a {
    color: #333333;
}

a.before {
    color: #000;
    text-decoration: none;
    cursor: default;
}

a:hover {
    color: orange;
    text-decoration: none;
    cursor: pointer;
}

li > a:hover {
    color: skyblue;
    text-decoration: none;
    cursor: pointer;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}